<!DOCTYPE html>
<html ng-app="steffApp">
	<head>
		<title>STEFF'S FIVE STAR PROJECT</title>
		<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body>
	<div class="container" ng-controller="SteffController">
 
 		<div class="jumbotron" >
		<h2>STUDENT'S CONTACT FORM</h2>
			<form>

			 <div>
			 	<label>NAME</label>
			 	<input type="text" class="form-control" placeholder="name" ng-model="name">
			 </div>
			 <div>
			 	<label>SEX</label>
			 	<select class="form-control" ng-model="sex">
			 		<option></option>
			 		<option value="male">male</option>
			 		<option value="female">Female</option>
			 	</select>
			 
			 </div>
			 <div>
			 	<label>DEPARTMENT</label>
			 	<input type="text" class="form-control" placeholder="department" ng-model="department">
			 </div>
			 <div>
			 	<label>WEBMAIL</label>
			 	<input type="text" class="form-control" placeholder="webmail address" ng-model="webmail">
			 </div>
			 <div>
			 	<label>HALL</label>
			 	<Select class="form-control" ng-model="hall">
			 		<option></option>
			 		<option value="abraham">Abraham</option>
			 		<option value="sarah">Sarah</option>
			 		<option value="dorcas">Dorcas</option>
			 		<option value="isaac">Isaac</option>
			 		<option value="david">David</option>
			 		<option value="deborah">Deborah</option>
			 	</Select>
			 </div>
			 <div>
			 	<label>ROOM</label>
			 	<input type="text" class="form-control" placeholder="room number" ng-model="room">
			 </div>
			 <div>
			 	<button class="btn btn-success" ng-click="action()">SAVE</button>
			 </div>

			</form>
		</div>
	</div>
   <script src="angular/angular.min.js"></script>
   <script src="js/app.js"></script>
	</body>
</html>					